<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>SSO - App 2</title>

        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}

    </head>
    <body>
        <h2 class="text-center">Application Two Authorization Landing Page</h2>
        <p class="text-center">{{code}}</p>
        <p class="text-center">{{state}}</p>
    </body>
</html>