{% load static %}
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title>SSO - App 1</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <style>
        html,body{
            background-image: url("{% static 'img/app1.jpg'' %}");
           
            background-repeat: no-repeat;
            font-family: 'Numans', sans-serif;
        }
        </style>

    </head>
    <body>
        <h2 class="text-center">Application One Authorization Landing Page</h2>
        <p class="text-center">{{code}}</p>
        <p class="text-center">{{state}}</p>
    </body>
</html>