<html>
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
    
        <title>SSO - App 1</title>

        {% load bootstrap4 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='full' %}
 
    </head>
    <body>
        <form action="/users/auth" method="GET">
            <h2 class="text-center">Application One</h2>
            <input type="hidden" name="response_type" value = "code">
            <input type="hidden" name="client_id" value = "1">
            <input type="hidden" name="redirect_uri" value = "http://127.0.0.1:8000/app1/auth_landing_page">
            <input type="hidden" name="state" value = "asdf1234">
            <input type="hidden" name="scope" value = "all">
            <p class="text-center"><button type="submit" class="btn btn-success">Login</button></p>
        </form>
    </body>
</html>